body {
    margin: 0;
    padding: 0;
    background-color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
}

::-webkit-scrollbar {
    width: 10px;
}

 ::-webkit-scrollbar-track {
    background: #ffffff;
}

 ::-webkit-scrollbar-thumb {
    background: #000000;
}


/* ::-webkit-scrollbar-thumb:hover {
    background: #555;
} */

.flex-r {
    display: flex;
    flex-direction: row;
}

.flex-c {
    display: flex;
    flex-direction: column;
}

ul{
    list-style-type: none;
    margin: 0;
    padding:0;
}

header{
    height: 5vh;
    padding: 1.5vh 0.5%;
    width: 99%;
    border-bottom: 2px solid #ff0000;
}

.logo-container{
    width: 19.7%;
}

.logo{
    width: 180px;
    height: 30px;
}

.filter-container{
    width: 50.3%;
}

.user-info{
    width:30%
}

footer{
    border-top: 2px solid #ff0000;
    height: 3.4vh;
}

.side-nav{
    width: 20%;
    border-right: 2px solid #888888;
}

.categories{
    padding: 12px 8px;
    font-size: 20px;
    font-weight: 600;
}

.categories-list{
    padding: 0 8px;
}

.list li{
    padding: 10px;
    color: #ff0000;
    cursor: pointer;
}

.list li:hover{
    background: salmon;
    color: black;
}

.list li i{
    font-size: 20px;
}

.list li span{
    padding: 0 8px;
    font-size: 15px;
}

.list li i{
    float: right;
}



.card-view {
    width: 80%;
    height: 87vh;
    padding: 0%;
}



.left,
.right {
    width: 48%;
    height: 84vh;
    margin: 0.5vh 1%;
    /* border: 2px solid black; */
}

.mega-container {
    overflow-y: auto;
}

.center {
    border-left: 3px solid #888888;
}

.title {
    display: block;
    width: 80%;
    /* border: 2px solid #000000; */
    font-size: 22px;
    padding: 0.5%;
    color: #000000;
    font-weight: 600;
    text-align: center;
    border-bottom: 2px solid red;
    margin: auto;
    margin-top: 0;
    margin-bottom: 0;
}

.product-container {
    flex-wrap: wrap;
    height: 92vh;
    width: 98%;
    margin: 1% 1% 0 1%;
    overflow-y: auto;
}

.products {
    height: 46%;
    width: 40%;
    margin: 0 4%;
    padding: 1%;
    margin-bottom: 5px;
}

.products:hover {
    -webkit-box-shadow: 5px 5px 12px 0px rgba(0, 0, 0, 0.42);
    box-shadow: 5px 5px 12px 0px rgba(0, 0, 0, 0.42);
}

.img-container {
    width: 100%;
    height: 60%;
}

.info-container {
    width: 100%;
    height: 40%;
}

.img-container img {
    width: 100%;
    height: 100%;
}

.name {
    margin-top: 3%;
    height: 40%;
    font-size: 1vw;
    font-weight: 500;
}

.price,
.rating {
    font-weight: 600;
    font-size: 1.4vw;
}

.price-container {
    height: 25%;
    margin-bottom: 2%;
}

.site-btn {
    height: 30%;
    border: none;
    background-color: #ff0000;
    color: #ffffff;
    font-weight: 300;
    font-size: 1.3vw;
    border-radius: 15px;
    padding: 5px 15px;
    outline: none;
    cursor: pointer;
}

.price {
    width: 80%;
    padding: 1.5% 0;
    color: #000000;
}

.rating {
    width: 15%;
    color: #ffffff;
    background-color: #000000;
    padding: 2px 5%;
    border-radius: 20px;
}

.icon {
    float: right;
}

.rating-icon {
   position: relative;
    font-size: 1.25vw;
    top: 1px;
    left: 2px;
}

.filter{
font-size: 16px;
font-weight: 600;
}

.filter input{
    position: relative;
    height: 29px;
    border: 2px solid #000000;
    outline: none;
    width: 530px;
    padding: 0 5px;
    font-size: 16px;
}
.filter label{
    display: none;
}

.filter-btn{
    background: #000000;
    color: #ffffff;
    color: #ffffff;
    border: none;
    height: 33px;
    margin-left: -5px;
    width: 125px;
    font-size: 18px;
    cursor: pointer;
}
