{% load static%}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <script src="https://kit.fontawesome.com/e638e35db0.js"></script>
    <title>Document</title>
</head>

<body>
    <div class="card-view flex-r">
        <div class="left flex-c">
            <div class="title">Title placeholder</div>
            <div class="flex-r product-container">
                <div class="products flex-c">
                    <div class="img-container"><img src="./images/placeholder.jpg" alt=""></div>
                    <div class="info-container flex-c">
                        <span class="name">ZTE Nubia Red Magic 3S (8GB, 128GB) Dual Sim (PTA Approved)</span>
                        <div class="price-container flex-r">
                            <span class="price">13.33$ <span></span></span>
                            <span class="rating">4 <span class="rating-icon"><i class="far fa-star"></i></span></span>
                        </div>
                        <button class="site-btn">Go to site<span class="icon"><i class="fa fa-chevron-right" aria-hidden="true"></i></span></button>
                    </div>
                </div>
                <div class="products flex-c">
                    <div class="img-container"><img src="./images/placeholder.jpg" alt=""></div>
                    <div class="info-container flex-c">
                        <span class="name">ZTE Nubia Red Magic 3S (8GB, 128GB) Dual Sim (PTA Approved)</span>
                        <div class="price-container flex-r">
                            <span class="price">13.33$ <span></span></span>
                            <span class="rating">4 <span class="rating-icon"><i class="far fa-star"></i></span></span>
                        </div>
                        <button class="site-btn">Go to site<span class="icon"><i class="fa fa-chevron-right" aria-hidden="true"></i></span></button>
                    </div>
                </div>
                <div class="products flex-c">
                    <div class="img-container"><img src="./images/placeholder.jpg" alt=""></div>
                    <div class="info-container flex-c">
                        <span class="name">ZTE Nubia Red Magic 3S (8GB, 128GB) Dual Sim (PTA Approved)</span>
                        <div class="price-container flex-r">
                            <span class="price">13.33$ <span></span></span>
                            <span class="rating">4 <span class="rating-icon"><i class="far fa-star"></i></span></span>
                        </div>
                        <button class="site-btn">Go to site<span class="icon"><i class="fa fa-chevron-right" aria-hidden="true"></i></span></button>
                    </div>
                </div>
                <div class="products flex-c">
                    <div class="img-container"><img src="./images/placeholder.jpg" alt=""></div>
                    <div class="info-container flex-c">
                        <span class="name">ZTE Nubia Red Magic 3S (8GB, 128GB) Dual Sim (PTA Approved)</span>
                        <div class="price-container flex-r">
                            <span class="price">13.33$ <span></span></span>
                            <span class="rating">4 <span class="rating-icon"><i class="far fa-star"></i></span></span>
                        </div>
                        <button class="site-btn">Go to site<span class="icon"><i class="fa fa-chevron-right" aria-hidden="true"></i></span></button>
                    </div>
                </div>
                <div class="products flex-c">
                    <div class="img-container"><img src="./images/placeholder.jpg" alt=""></div>
                    <div class="info-container flex-c">
                        <span class="name">ZTE Nubia Red Magic 3S (8GB, 128GB) Dual Sim (PTA Approved)</span>
                        <div class="price-container flex-r">
                            <span class="price">13.33$ <span></span></span>
                            <span class="rating">4 <span class="rating-icon"><i class="far fa-star"></i></span></span>
                        </div>
                        <button class="site-btn">Go to site<span class="icon"><i class="fa fa-chevron-right" aria-hidden="true"></i></span></button>
                    </div>
                </div>

            </div>
        </div>
        <div class="center"></div>
        <div class="right flex-c">
            <div class="title">Title placeholder</div>
           <div class="flex-r product-container">
                <div class="products flex-c">
                    <div class="img-container"><img src="./images/placeholder.jpg" alt=""></div>
                    <div class="info-container flex-c">
                        <span class="name">ZTE Nubia Red Magic 3S (8GB, 128GB) Dual Sim (PTA Approved)</span>
                        <div class="price-container flex-r">
                            <span class="price">13.33$ <span></span></span>
                            <span class="rating">4 <span class="rating-icon"><i class="far fa-star"></i></span></span>
                        </div>
                        <button class="site-btn">Go to site<span class="icon"><i class="fa fa-chevron-right" aria-hidden="true"></i></span></button>
                    </div>
                </div>
                <div class="products flex-c">
                    <div class="img-container"><img src="./images/placeholder.jpg" alt=""></div>
                    <div class="info-container flex-c">
                        <span class="name">ZTE Nubia Red Magic 3S (8GB, 128GB) Dual Sim (PTA Approved)</span>
                        <div class="price-container flex-r">
                            <span class="price">13.33$ <span></span></span>
                            <span class="rating">4 <span class="rating-icon"><i class="far fa-star"></i></span></span>
                        </div>
                        <button class="site-btn">Go to site<span class="icon"><i class="fa fa-chevron-right" aria-hidden="true"></i></span></button>
                    </div>
                </div>
                <div class="products flex-c">
                    <div class="img-container"><img src="./images/placeholder.jpg" alt=""></div>
                    <div class="info-container flex-c">
                        <span class="name">ZTE Nubia Red Magic 3S (8GB, 128GB) Dual Sim (PTA Approved)</span>
                        <div class="price-container flex-r">
                            <span class="price">13.33$ <span></span></span>
                            <span class="rating">4 <span class="rating-icon"><i class="far fa-star"></i></span></span>
                        </div>
                        <button class="site-btn">Go to site<span class="icon"><i class="fa fa-chevron-right" aria-hidden="true"></i></span></button>
                    </div>
                </div>
                <div class="products flex-c">
                    <div class="img-container"><img src="./images/placeholder.jpg" alt=""></div>
                    <div class="info-container flex-c">
                        <span class="name">ZTE Nubia Red Magic 3S (8GB, 128GB) Dual Sim (PTA Approved)</span>
                        <div class="price-container flex-r">
                            <span class="price">13.33$ <span></span></span>
                            <span class="rating">4 <span class="rating-icon"><i class="far fa-star"></i></span></span>
                        </div>
                        <button class="site-btn">Go to site<span class="icon"><i class="fa fa-chevron-right" aria-hidden="true"></i></span></button>
                    </div>
                </div>
                <div class="products flex-c">
                    <div class="img-container"><img src="./images/placeholder.jpg" alt=""></div>
                    <div class="info-container flex-c">
                        <span class="name">ZTE Nubia Red Magic 3S (8GB, 128GB) Dual Sim (PTA Approved)</span>
                        <div class="price-container flex-r">
                            <span class="price">13.33$ <span></span></span>
                            <span class="rating">4 <span class="rating-icon"><i class="far fa-star"></i></span></span>
                        </div>
                        <button class="site-btn">Go to site<span class="icon"><i class="fa fa-chevron-right" aria-hidden="true"></i></span></button>
                    </div>
                </div>

            </div>
        </div>

    </div>
</body>

</html>